<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UiExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
     
	<Product Id="*" Name="Hypertoken_Installer" Language="1033" Version="1.0.0.0" Manufacturer="Circuit Works, Inc" UpgradeCode="03e683c6-1a44-4edd-9efc-27c93721503e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Hypertoken_Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Hypertoken" />
                <Component Id="Terminal.exe" Guid="2F91FC86-41DB-46AB-A030-563B78D1B947">
                    <File Id="Terminal.exe" Source="$(var.Terminal.TargetDir)Terminal.exe" KeyPath="yes" Checksum="yes"/>
                </Component>
			</Directory>
		</Directory>
	</Fragment>

    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
        </DirectoryRef>
    </Fragment>
    
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <ComponentRef Id="Terminal.exe" />
		</ComponentGroup>
	</Fragment>
</Wix>