<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UiExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    
	<Product Id="*" Name="Hypertoken_Installer" Language="1033" Version="1.0.0.0" Manufacturer="Circuit Works, Inc" UpgradeCode="F46313AE-AC0E-41A3-8F14-EA13821B28C8"> <!-- Upgrade code should stay the same for minor versions -->
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Hypertoken_Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

    <Fragment>
        <Property Id="WIXUI_INSTALLDIR"
                  Value="INSTALLDIR" />
        <UIRef Id="WixUI_Mondo"/>
    </Fragment>

    <!-- TODO: Fix shortcuts -->
    <!-- TODO: Add wyUpdate -->

    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Hypertoken">
                    <Component Id="StartMenuShortcut" Guid="94280043-2F2B-4B09-BA4A-82884DC33D24">
                        <Shortcut Id="ApplicationStartMenuShortcut"
                                  Name="Hypertoken"
                                  Description="Modern Serial Terminal"
                                  Target="[INSTALLFOLDER]Terminal.exe"
                                  WorkingDirectory="INSTALLFOLDER"/>
                        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                        <RegistryValue Root="HKCU" Key="Software\CircuitWorks\Hypertoken" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>
        
            <Directory Id="DesktopFolder">
                <Component Id="DesktopShortcut" Guid="537C9367-5D6B-4829-95FA-71A70E38138E">
                    <Shortcut Id="ApplicationDesktopShortcut"
                              Name="Hypertoken"
                              Description="Modern Serial Terminal"
                              Target="[INSTALLFOLDER]Terminal.exe"
                              WorkingDirectory="INSTALLFOLDER"/>
                    <RemoveFolder Id="DesktopFolder" On="uninstall"/>
                    <RegistryValue Root="HKCU" Key="Software\CircuitWorks\Hypertoken" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                </Component>
            </Directory>
        </DirectoryRef>
        
        <ComponentGroup Id="Shortcuts" Directory="INSTALLFOLDER">
            <ComponentRef Id="StartMenuShortcut" />
            <ComponentRef Id="DesktopShortcut" />
        </ComponentGroup>
    </Fragment>
    
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Hypertoken">
                    <Component Id="Terminal.exe" Guid="2F91FC86-41DB-46AB-A030-563B78D1B947">
                        <File Id="Terminal.exe" Source="$(var.Terminal.TargetDir)Terminal.exe" KeyPath="yes" Checksum="yes">
                            <netfx:NativeImage Id="Terminal.exe" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Terminal.exe.config">
                        <File Source="$(var.Terminal.TargetDir)Terminal.exe.config"/>
                    </Component>
                    <Component Id="Terminal.pdb">
                        <File Source="$(var.Terminal.TargetDir)Terminal.pdb"/>
                    </Component>
                    <Component Id="App.config">
                        <File Source="$(var.Terminal.TargetDir)App.config"/>
                    </Component>
                    <Component Id="Autofac.Configuration.dll">
                        <File Source="$(var.Terminal.TargetDir)Autofac.Configuration.dll">
                            <netfx:NativeImage Id="Autofac.Configuration.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Autofac.dll">
                        <File Source="$(var.Terminal.TargetDir)Autofac.dll">
                            <netfx:NativeImage Id="Autofac.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Bugsense.WPF.dll">
                        <File Source="$(var.Terminal.TargetDir)Bugsense.WPF.dll">
                            <netfx:NativeImage Id="Bugsense.WPF.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Bugsense.WPF.pdb">
                        <File Source="$(var.Terminal.TargetDir)Bugsense.WPF.pdb"/>
                    </Component>
                    <Component Id="CustomControls.dll">
                        <File Source="$(var.Terminal.TargetDir)CustomControls.dll">
                            <netfx:NativeImage Id="CustomControls.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="CustomControls.pdb">
                        <File Source="$(var.Terminal.TargetDir)CustomControls.pdb"/>
                    </Component>
                    <Component Id="HidLibrary.dll">
                        <File Source="$(var.Terminal.TargetDir)HidLibrary.dll">
                            <netfx:NativeImage Id="HidLibrary.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="HidLibrary.pdb">
                        <File Source="$(var.Terminal.TargetDir)HidLibrary.pdb"/>
                    </Component>
                    <Component Id="HyperToken.WinForms.dll">
                        <File Source="$(var.Terminal.TargetDir)HyperToken.WinForms.dll">
                            <netfx:NativeImage Id="HyperToken.WinForms.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="HyperToken.WinForms.pdb">
                        <File Source="$(var.Terminal.TargetDir)HyperToken.WinForms.pdb"/>
                    </Component>
                    <Component Id="interpreter.py">
                        <File Source="$(var.Terminal.TargetDir)interpreter.py"/>
                    </Component>
                    <Component Id="IronPython.dll">
                        <File Source="$(var.Terminal.TargetDir)IronPython.dll">
                            <netfx:NativeImage Id="IronPython.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Microsoft.Dynamic.dll">
                        <File Source="$(var.Terminal.TargetDir)Microsoft.Dynamic.dll">
                            <netfx:NativeImage Id="Microsoft.Dynamic.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Microsoft.Scripting.dll">
                        <File Source="$(var.Terminal.TargetDir)Microsoft.Scripting.dll">
                            <netfx:NativeImage Id="Microsoft.Scripting.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Microsoft.Scripting.Metadata.dll">
                        <File Source="$(var.Terminal.TargetDir)Microsoft.Scripting.Metadata.dll">
                            <netfx:NativeImage Id="Microsoft.Scripting.Metadata.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="MRG.Controls.UI.dll">
                        <File Source="$(var.Terminal.TargetDir)MRG.Controls.UI.dll">
                            <netfx:NativeImage Id="MRG.Controls.UI.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="NLog.config">
                        <File Source="$(var.Terminal.TargetDir)NLog.config"/>
                    </Component>
                    <Component Id="NLog.dll">
                        <File Source="$(var.Terminal.TargetDir)NLog.dll">
                            <netfx:NativeImage Id="NLog.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="PacketParser.dll">
                        <File Source="$(var.Terminal.TargetDir)PacketParser.dll">
                            <netfx:NativeImage Id="PacketParser.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="PacketParser.pdb">
                        <File Source="$(var.Terminal.TargetDir)PacketParser.pdb"/>
                    </Component>
                    <Component Id="SciLexer.dll">
                        <File Source="$(var.Terminal.TargetDir)SciLexer.dll"/>
                    </Component>
                    <Component Id="SciLexer64.dll">
                        <File Source="$(var.Terminal.TargetDir)SciLexer64.dll"/>
                    </Component>
                    <Component Id="ScintillaNET.dll">
                        <File Source="$(var.Terminal.TargetDir)ScintillaNET.dll">
                            <netfx:NativeImage Id="ScintillaNET.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Terminal.Interface.dll">
                        <File Source="$(var.Terminal.TargetDir)Terminal.Interface.dll">
                            <netfx:NativeImage Id="Terminal.Interface.dll" Platform="32bit" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
                        </File>
                    </Component>
                    <Component Id="Terminal.Interface.pdb">
                        <File Source="$(var.Terminal.TargetDir)Terminal.Interface.pdb"/>
                    </Component>
                </Directory>
			</Directory>
		</Directory>
	</Fragment>

    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
        </DirectoryRef>
    </Fragment>
    
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <ComponentRef Id="Terminal.exe" />
            <ComponentGroupRef Id="Shortcuts"/>
            
            <ComponentRef Id="Terminal.exe.config" />
            <ComponentRef Id="Terminal.pdb" />
            
            <ComponentRef Id="App.config" />
            
            <ComponentRef Id="Autofac.Configuration.dll" />
            <ComponentRef Id="Autofac.dll" />
            
            <ComponentRef Id="Bugsense.WPF.dll" />
            <ComponentRef Id="Bugsense.WPF.pdb" />
            
            <ComponentRef Id="CustomControls.dll" />
            <ComponentRef Id="CustomControls.pdb" />
            
            <ComponentRef Id="HidLibrary.dll" />
            <ComponentRef Id="HidLibrary.pdb" />
            
            <ComponentRef Id="HyperToken.WinForms.dll" />
            <ComponentRef Id="HyperToken.WinForms.pdb" />
            
            <ComponentRef Id="interpreter.py" />
            <ComponentRef Id="IronPython.dll" />
            <ComponentRef Id="Microsoft.Dynamic.dll" />
            <ComponentRef Id="Microsoft.Scripting.dll" />
            <ComponentRef Id="Microsoft.Scripting.Metadata.dll" />
            
            <ComponentRef Id="MRG.Controls.UI.dll" />
            
            <ComponentRef Id="NLog.config" />
            <ComponentRef Id="NLog.dll" />
            
            <ComponentRef Id="PacketParser.dll" />
            <ComponentRef Id="PacketParser.pdb" />
            
            <ComponentRef Id="SciLexer.dll" />
            <ComponentRef Id="SciLexer64.dll" />
            
            <ComponentRef Id="ScintillaNET.dll" />
            
            <ComponentRef Id="Terminal.Interface.dll" />
            <ComponentRef Id="Terminal.Interface.pdb" />
        </ComponentGroup>
	</Fragment>

    <Fragment>
        <PackageGroup Id="NetFx45Redist" />
    </Fragment>
</Wix>