[submodule "externals/BugSense"]
	path = externals/BugSense
	url = https://github.com/GeorgeHahn/Bugsense.WPF.git
[submodule "Bugsense.WPF"]
	path = Bugsense.WPF
	url = https://github.com/GeorgeHahn/Bugsense.WPF.git
