<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SerialTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SerialTerminal.Properties.Settings>
            <setting name="currentDevice" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FlowControl" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LineDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CharDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalEcho" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggingPath" serializeAs="String">
                <value/>
            </setting>
        </SerialTerminal.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
